

$primary: #00c74c;
$secondary: #029e3d;

$button: #00c74c;
$button-hover: #03a341;
$button-click: #019c3c;

$fade-duration: .3s;

@import "bootstrap";

#pages {
    margin: 20px;
}

#form-join {
    margin: auto;
}

button:hover {
    background-color: $button-hover;
    transition-duration: $fade-duration;
}

button:active {
    background-color: $button-click;
    transition-duration: $fade-duration;
}

button {
    background-color: $button;
    padding: 10px;
    border-width: 0;
    border-radius: 15px;
    transition-duration: $fade-duration;
}

.clickable {
    transition-duration: $fade-duration;
}

.clickable:hover {
    transition-duration: $fade-duration;
}