

$primary: #00c74c;
$secondary: #2d312c;
$tertiary: #88978d;

$background: #1a1a1a;
$text: #e7e7e7;
$text-dark: #0e0e0e;

$background-form: rgb(243, 243, 243);
$background-container: rgb(243, 243, 243);

$button: #00c74c;
$button-hover: #03a341;
$button-click: #019c3c;

$fade-duration: .3s;

@import "bootstrap";

* {
    color: $text;
}

html, body {
    background-color: $background;
}

button:hover {
    background-color: $button-hover;
    transition-duration: $fade-duration;
}

button:active {
    background-color: $button-click;
    transition-duration: $fade-duration;
}

button {
    color: $text-dark;
    background-color: $button;
    padding: 10px;
    border-width: 0;
    border-radius: 10px;
    transition-duration: $fade-duration;
}

.centeredContainer {
    color: $text-dark;
    width: 70%;
    margin: auto;
    padding: 15px;
    background-color: $background-container;
    border-radius: 10px;
}

.clickable {
    transition-duration: $fade-duration;
}

.clickable:hover {
    transition-duration: $fade-duration;
}

.buttonRow {
    margin: auto;
}

.buttonRow button {
    margin-right: 10px;
}

#pages {
    margin: 20px;
}

#form-join {
    color: $text-dark;
    width: 50%;
    margin: auto;
    padding: 15px;
    background-color: $background-form;
    border-radius: 10px;
}

#form-join div {
    padding: 10px;
}

#form-join label {
    color: $text-dark;
    font-size: 30px;
}

#record {
    width: 40vh;
    height: 40vh;
}

@keyframes rotating {
    from {
        transform:rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 2s linear infinite;
}